input[type=range]::-webkit-slider-thumb {
    /* margin-top: -14px; */
    -webkit-appearance: none;
    appearance: none;
    /* border: solid #c17ecb; */
    border: solid #77dfff;
    border-width: 2.5px;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    background: rgb(7, 0, 55);
    cursor: pointer;
  }

  input[type=range]::-moz-range-thumb {
    appearance: none;
    /* border: solid #c17ecb; */
    border: solid #77dfff;
    border-width: 2.5px;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    background: rgb(7, 0, 55);
    cursor: pointer;
  }

  input[type=range]::-ms-thumb {
    appearance: none;
    /* border: solid #c17ecb; */
    border: solid #77dfff;
    border-width: 2.5px;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    background: rgb(7, 0, 55);
    cursor: pointer;
  }


  